<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Events</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <%= link "Home", to: Routes.page_path(@conn, :index), class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link "Users", to: Routes.user_path(@conn, :index), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link "Meetings", to: Routes.meeting_path(@conn, :index), class: "nav-link" %>
            </li>
          </ul>

          <div class="flex-row left">
            <%= if @conn.assigns[:current_user] do %>
              <div class="nav-item btn btn-outline-light flex-row left blackHover">
                <%= link "Hello, #{@current_user.name}!", to: Routes.user_path(@conn, :show, @current_user), class: "inheritColor" %>
                <div style="width: 10px;"></div>
                <%= if @current_user.picture_hash do %>
                  <img class="profilePicture small" src="<%= Routes.user_path(@conn, :picture, @current_user) %>" alt="profile">
                <% else %>
                  <div class="profilePicture default small"></div>
                <% end %>
              </div>
              <div style="width: 20px;"></div>
              <div class="nav-item btn btn-outline-light flex-row left blackHover">
                <%= link("+ Meeting", to: Routes.meeting_path(@conn, :new), class: "inheritColor") %>
              </div>
              <div style="width: 20px;"></div>
              <div class="nav-item btn btn-outline-light flex-row left blackHover">
                <%= link("Logout", to: Routes.session_path(@conn, :delete), method: :delete, class: "inheritColor") %>
              </div>
            <% else %>
              <div class="flex-row left">
                <%= form_for @conn, Routes.session_path(@conn, :create),
                [class: "form-inline"], fn f -> %>
                  <%= text_input f, :email, class: "form-control" %>
                  <%= submit "Login", class: "btn btn-success" %>
                <% end %>
              <div style="width: 20px"></div>
              <button type="button" class="btn btn-secondary"><%= link "Create an account", to: Routes.user_path(@conn, :new), class: "whiteLink" %></button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div role="main" class="container">
      <div class="row" style="height: 20px;"></div>

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info margin" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger maring" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <div style="height: 10px"></div>

      <%= @inner_content %>
    </div>

    <div class="footer">
  </body>
</html>
