<h1>Edit Meeting | <span><%= link "Delete", to: Routes.meeting_path(@conn, :delete, @meeting), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %></span></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.meeting_path(@conn, :update, @meeting)) %>
