<h1>Listing Meetings</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for meeting <- @meetings do %>
    <tr>
      <td><span><%= link "#{meeting.name}", to: Routes.meeting_path(@conn, :show, meeting) %></span></td>
      <td><%= meeting.date %></td>
    </tr>
<% end %>
  </tbody>
</table>

