<h1>Listing Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>

      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
        <tr>
          <td><span><%= link "#{user.name}", to: Routes.user_path(@conn, :show, user) %></span></td>

          <td><%= user.email %></td>
        </tr>
    <% end %>
  </tbody>
</table>