@import "bootstrap";

.invalid-feedback {
    display: block;
}

.alert {
    margin-top: 20px;
    margin-bottom: 20px;
}

.whiteLink {
    color: #ffffff;
}

.whiteLink:hover {
    color: #ffffff;
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row.right {
    align-items: center;
    justify-content: flex-end;
}

.flex-row.left {
    align-items: center;
    justify-content: flex-start;
}

.profilePicture {
    width: 200px;
}

.profilePicture.default {
    height: 200px;
    background: url(/images/defaultpicture.png);
    background-size: contain;
}

.section {
    padding: 20px;
    margin: 20px;
    width: 100%;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
}