@import "bootstrap";

.invalid-feedback {
    display: block;
}

.alert {
    margin-top: 20px;
    margin-bottom: 20px;
}

.whiteLink {
    color: #ffffff;
}

.whiteLink:hover {
    color: #ffffff;
    text-decoration: none;
}

.blackHover {
    color: white;
}
.blackHover:hover {
    color: black;
    text-decoration: none;
}

.inheritColor {
    color: inherit !important;
    text-decoration: inherit !important;
}

.footer {
    position: absolute;
    height: 50px;
    width: 100vw;
    bottom: 0px;
    left: 0px;
    background-color: $dark;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row.right {
    align-items: center;
    justify-content: flex-end;
}

.flex-row.left {
    align-items: center;
    justify-content: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.profilePicture {
    width: 200px;
}

.profilePicture.default {
    height: 200px;
    background: url(/images/defaultpicture.png);
    background-size: contain;
}

.profilePicture.med {
    width: 75px;
    max-height: 75px;
}

.profilePicture.small {
    max-width: 25px;
    height: 25px;
    border-radius: 100%;
}

.section {
    padding: 20px;
    margin: 20px;
    width: 100%;
}

.section.filled {
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
}
